{% extends base_template %}
{% load static %}

{% block header %}
    <title>Notre engagement</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% endblock %}
{% block content %}

    <main class="engagement">
        <h2>Notre but ?</h2>
        <p>Promouvoir les valeurs du sport, en associant éthique, discipline, et respect</p>
        <h2>Notre engagement</h2>
        <p>Nous nous engageons à constamment chercher à améliorer notre plateforme, en tenant compte du retour de nos
            utilisateurs.
            Nous nous engageons à dédier une partie de notre chiffre d'affaire à la promotion d'un sport plus équitable
            et éthique.
            Et surtout, nous nous engageons à fournir un service de qualité, peut importe les pressions que nous pouvons
            subir</p>
    </main>

{% endblock %}