main {
    background-color: #FEF9EF;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcome-panel {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    margin: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.signup-form {
    margin: 3rem 0 1rem 0;
    color: white;
    padding: 3rem;
    background-color: #17C3B2;
    border-radius: 15px;
}

.form-step {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

input {
    font-size: 1.5rem;
    color: white;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.submit-button {
    cursor: pointer;
    margin-top: 2rem;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #227C9D;
    border: none;
    padding: 1.5rem;
    border-radius: 15px;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    margin: 3rem;
    color: white;
    padding: 3rem;
    background-color: #17C3B2;
    border-radius: 15px;
}

.profile-choice {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;

}

.athlete-profile, .coach-profile {
    font-weight: bold;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    border-radius: 15px;
    background-color: #17C3B2;
    margin: 2rem;
    text-align: center;
    color: white;
}

.athlete-profile p, .coach-profile p {
    font-size: 1.2rem;
}


.athlete-signup-steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #17C3B2;
    width: 60%;
    padding: 1rem 4rem;
    border-radius: 15px;
    color: white;
}

#athlete-signup-form {
    width: 30vw;
    margin: 3rem 0 1rem 0;
    color: white;
    padding: 3rem;
    background-color: #17C3B2;
    border-radius: 15px;
}

.athlete-signup-step {
    display: none;
}

.athlete-signup-step.active {
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

.athlete-form-step {
    display: none;
}
.athlete-form-step.active {
    display: flex;
    flex-direction: column;
}

.gender-selection {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.option {
    cursor: pointer;
    padding: 5px;
    transition: text-decoration 0.3s;
}

input[type="radio"] {
    display: none; /* Hide the radio buttons */
}

input[type="radio"]:checked + .option {
    text-decoration: underline;
    font-weight: bold;
}

.rating-selection {
    display: flex;
    gap: 10px;
    margin: 20px;
}
.signup-step {
    color: gray;
}
.signup-step.active-step {
    color: white;
}
