{% extends 'base.html' %}
{% load static %}

{% block header %}
    <meta charset="UTF-8">
    <title>Notre engagement</title>
    <link rel="stylesheet" href="{% static 'css/members.css' %}">
{% endblock %}

{% block content %}

<main class="">
    <form class="login-form" method="post">
        {% csrf_token %}
        <h1 class="page-title">Se connecter</h1>
        <div>
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit">Connexion</button>
    </form>
</main>
 {% endblock %}